<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{Base::parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>Dashboard</title>
  </head>

  <body>
    <section id="content">
      <h1>This is user Dashboard page</h1>
      <h1 th:text="${loggedInUser.name}"></h1>
      <h1 th:text="${loggedInUser.email}"></h1>
      <h1 th:text="${loggedInUser.about}"></h1>
      <button><a th:href="@{'/logout'}">Logout</a></button>
    </section>

    <!-- Script JS -->
    <script>
      console.log("Dashboard Page");
    </script>
  </body>
</html>
