<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{Base::parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title th:text="${loggedInUser.name} +' | SCM' ">Profile</title>
  </head>

  <body>
    <section id="content" class="sm:pl-64">
      <!-- Sidebar -->
      <div th:if="${loggedInUser}">
        <div
          class="HostTagSidebar"
          th:replace="~{user/sidebar :: sidebar}"
        ></div>
      </div>

      <!-- Content -->
      <div>
        <h1>This is user profile page</h1>
        <h1 th:text="${loggedInUser.name}"></h1>
        <h1 th:text="${loggedInUser.email}"></h1>
        <button><a th:href="@{'/logout'}">Logout</a></button>
      </div>
    </section>

    <!-- Script JS -->
    <script>
      console.log("Profile Page");
    </script>
  </body>
</html>
