<!DOCTYPE html>
<html
  class="light"
  lang="en"
  th:fragment="parent(content, title, script)"
  xmlns:th="http://www.thymeleaf.org"
>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title th:replace="${title}">Tushar SCM</title>
    <!-- Favicon Icon -->
    <link rel="icon" type="image/x-icon" th:href="@{/assets/favicon.ico}" />
    <!-- Description KeyWord -->
    <meta
      name="description"
      content="
  Discover my smart contact manager web application, designed to manage contacts efficiently and effectively on the cloud. Experience the seamless integration of technology and user-friendly design in this innovative project."
    />
    <meta
      name="keywords"
      content="Smart Contact Manager, Web Application, Contacts Management, Cloud, HTML, CSS, JavaScript, Projects , AWS , Coludinary , Contact details , SCM , PAgination , Dark , Light , Theam , Provde Feedback , SpringBoot  , Spring Framework , SpringMVC , Sprinhg DATA JPA ,ORM ,OAuth , Social Login , Thymleaf , Tailwind CSS , Flowbits Components , My SQL ,DataBase "
    />
    <meta name="author" content="Tushar Mahajan" />
    <!-- FlowBite CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <!-- Tailwind CSS output  -->
    <link rel="stylesheet" th:href="@{/css/output.css}" />
    <!-- FontAwsome CSS link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
      integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="bg-gray-100 dark:bg-gray-900 dark:text-white">
    <!-- Host Tag Header -->
    <div class="HostTagHeader" th:replace="~{navbar :: navbar}"></div>
    <!-- Main Content -->
    <div class="p-4 mt-16">
      <!-- Added mt-16 for top margin -->
      <section th:replace="${content}"></section>
    </div>
    <!-- Common Footer -->
    <!-- <footer class="p-4">Learn Code With Tushar Mahajan</footer> -->
    <!-- FlowBite JS Content -->
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
    <!-- All the external used JS in the Project from /src/main/resources/static/js/script.js -->
    <script th:src="@{/JS/script.js}"></script>
    <!-- Script coming from the Page -->
    <th:block th:replace="${script}"></th:block>
  </body>
</html>
