<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{Base::parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>SCM-Login</title>
  </head>
  <body>
    <section id="content" class="py-5">
      <div class="grid grid-cols-12 py-5">
        <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
        <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
          <div
            class="block p-6 border-t-8 border-green-700 bg-white rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
          >
          <div th:if="${param.error}" class="mb-3 text-red-500 text-center">
            Invalid Username or Password.
          </div>
          <div th:if="${param.logout}" class="mb-3 text-green-500 text-center">
            You have been successfully logout.
          </div>
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Login
            </h5>
            <p class="font-normal text-gray-500 dark:text-gray-300">
              Let's start managing the contact on cloud
            </p>
            <form
              class="max-w-sm mx-auto mt-3"
              method="post"
              th:action="@{'/authenticate'}"
            >
              <div class="mb-3">
                <label
                  for="email"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Username</label
                >
                <input
                  name="email"
                  type="email"
                  id="email"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="username@gmail.com"
                  title="Enter your username to access your dashboard"
                  required
                />
              </div>
              <div class="mb-3">
                <label
                  for="password"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Password</label
                >
                <input
                  name="password"
                  type="password"
                  id="password"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Your Secret Key"
                  title="Enter your password to access your dashboard"
                  required
                />
              </div>

              

              <div class="mb-3 flex justify-center gap-2">
                <button
                  type="submit"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                  Login
                </button>
              </div>
            </form>
            <div class="flex justify-center">
              <p class="font-normal text-gray-500 dark:text-gray-300">
                Don't have an account
                <a href="/signUp" class="text-blue-500 underline"
                  >Create Account ?</a
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <script>
      console.log("Login Page");
    </script>
  </body>
</html>
