<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{Base::parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>SCM-SignUp</title>
  </head>
  <body>
    <section id="content" class="py-5">
      <div class="grid grid-cols-12 py-5">
        <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
        <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
          <!-- Card Code Starts -->
          <div
            class="block p-6 border-t-8 border-blue-700 bg-white rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"
          >
            <!-- Message Here  Error or Success-->
            <div th:replace="~{message :: messageBox}"></div>
            <h5
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >
              Sign Up
            </h5>
            <p class="font-normal text-gray-500 dark:text-gray-300">
              Let's start managing the contact on cloud
            </p>

            <form
              data-th-action="@{/do-register}"
              method="post"
              th:object="${userForm}"
              class="max-w-sm mx-auto mt-3"
              novalidate
            >
              <div class="mb-3">
                <label
                  for="name"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Your Name</label
                >
                <input
                  type="text"
                  id="name"
                  th:field="*{name}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Enter Here"
                  required
                />
                <!-- Errors -->
                <p
                  th:if="${#fields.hasErrors('name')}"
                  th:errors="*{name}"
                  class="text-red-600 px-1 py-2"
                ></p>
              </div>
              <div class="mb-3">
                <label
                  for="email"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Your email</label
                >
                <input
                  type="email"
                  id="email"
                  th:field="*{email}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="username@gmail.com"
                  required
                />
                <p
                  th:if="${#fields.hasErrors('email')}"
                  th:errors="*{email}"
                  class="text-red-600 px-1 py-2"
                ></p>
              </div>
              <div class="mb-3">
                <label
                  for="password"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Enter a password</label
                >
                <input
                  type="password"
                  id="password"
                  th:field="*{password}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Your Secret Key"
                  pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[@$!%*?&]).{8,}"
                  title="Must contain at least one number, one uppercase and lowercase letter, one special character, and at least 8 or more characters"
                  required
                />
                <p
                  th:if="${#fields.hasErrors('password')}"
                  th:errors="*{password}"
                  class="text-red-600 px-1 py-2"
                ></p>
              </div>
              <div class="mb-3">
                <label
                  for="phoneNumber"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Your Contact Number</label
                >
                <input
                  type="tel"
                  id="phoneNumber"
                  th:field="*{phoneNumber}"
                  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Enter 10-digit phone number"
                  pattern="\d{10}"
                  title="Phone number must be 10 digits"
                  required
                />
                <p
                  th:if="${#fields.hasErrors('phoneNumber')}"
                  th:errors="*{phoneNumber}"
                  class="text-red-600 px-1 py-2"
                ></p>
              </div>
              <div class="mb-3">
                <label
                  for="about"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Write Something About Yourself</label
                >
                <textarea
                  id="about"
                  rows="4"
                  th:field="*{about}"
                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                  placeholder="Write here..."
                ></textarea>
                <p
                  th:if="${#fields.hasErrors('about')}"
                  th:errors="*{about}"
                  class="text-red-600 px-1 py-2"
                ></p>
              </div>
              <div class="mb-3 flex justify-center gap-2">
                <button
                  type="submit"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                  Submit
                </button>

                <button
                  type="reset"
                  class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                  Reset
                </button>
              </div>
            </form>
            <div class="flex justify-center">
              <p class="font-normal text-gray-500 dark:text-gray-300">
                Already have an account
                <a href="/login" class="text-blue-500 underline">login?</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Script JS -->
    <script>
      console.log("SignUp Page");
    </script>
  </body>
</html>
